<div id="map">
    <div class="columns">
        <div class="column">
            <div class="container map-container">
                <div class="box">
                    <div>
                        <map-vue :markers='markers'></map-vue>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <button class="button is-primary" @click="showDialog"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add</button>
        </div>
    </div>
</div>
