<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <%= image_tag asset_bundle_path('brand.svg'),class:'image',style: 'max-height: 48px; height: 48px'%>
    </a>
  </div>
</nav>
